Flask==1.1.2
requests==2.25.1
botbuilder-core==4.14.0
botbuilder-schema==4.14.0
botframework-connector==4.14.0
APScheduler==3.6.3
kubernetes==18.20.0
holidays==0.10.3
beautifulsoup4==4.9.3
oyaml==1.0
click-shell[readline]==2.0
pytz==2020.1
aiohttp==3.7.4.post0